.blog-post {
  width: 45%;
  img {
    width: 100%;
  }
  .blog-text {
    background-color: $bg-beige;
  }
  a {
    color: #000000;
    &:hover {
      color: $button;
      text-decoration: none;
    }
  }
}

@media all and (max-width:767px){
  .blog-post {
    width: 90%;
  }
}