.fa-circles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px 0;
  div {
    text-align: center;
  }
  .fa, .fas {
    padding: 50px; 
    border-radius: 50%;
    margin-bottom: 30px;
    font-size: 40px;
    color: #fff;
    background-color: $blue;
  }
}
.reasons-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  > div {
    width: 30%;
    margin: 20px 10px;
  }
}
.courses-cards {
  > div {
    margin: 20px;
    img {
      width: 100%;
      height: auto;
    }
    .button {
      width: 10rem;
      padding: 0.4rem;
    }
  }
}

.course-info {
  -webkit-box-shadow: 0px 4px 13px -2px rgba(192,208,219,1);
  -moz-box-shadow: 0px 4px 13px -2px rgba(192,208,219,1);
  box-shadow: 0px 4px 13px -2px rgba(192,208,219,1);
}

/******* IMAGE ZOOM ********/
.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1s ease;
}

.inner:hover img {
    transform: scale(1.1);
    filter: brightness(50%);
}

.video {
  border: none;
  outline:none;
  width: 100%; 
  height: auto;
}

//subscribe form
.subscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  input[type=email]{
    width: 40vw;
    padding: 9px 10px 8px 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: $bg-light;
  }
}

@media all and (max-width:992px){
  .fa-circles {
    padding: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    div {
      margin: 30px;
    }
  }
  .reasons-cards {
    > div {
      width: 45%;
    }
  }
}

@media all and (max-width:767px){
  .reasons-cards {
    > div {
      width: 80%;
      margin-bottom: 30px;
    }
  }
}

