// Fonts
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import 'abstracts/variables';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/navigation';


@import 'components/split';
@import 'components/slider';
@import 'components/buttons';
@import 'components/rotate';
@import 'components/effects';
@import 'components/form';

@import 'pages/custom';
@import 'pages/index';
@import 'pages/about';
@import 'pages/blog';
@import 'pages/contact';
@import 'pages/services';
@import 'pages/portfolio';
