.navbar-brand {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.navbar {
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .navbar-toggler {
    border: none;
    outline: none;
  }
}
.nav-upper {
  display: flex;
  justify-content: space-between;
  li {
    list-style-type: none;
  }
  .nav-link {
    color: #fff !important;
    padding: 0 1rem !important;
    &:hover {
      color: #fff!important;
    }
  }
}
.navbar-bottom {
  z-index: 10;
}
.nav-main {
  .nav-link {
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    color: #000 !important;
    &:hover {
      color: #000 !important;
    }
  }
}
.dropdown-menu {
  border: none !important;
  background-color: transparent;
  .dropdown-item {
    color: #000 !important;
    &:hover {
      color: #000 !important;
    }
  }
}

@media screen and (max-width:767px){
  .nav-upper {
    .container {
      flex-direction: column !important;
      justify-content: center;
    }
    .navbar-nav {
      flex-direction: row !important;
    }
  }
  .navbar-bottom {
    background-color: $button;
    .nav-item {
      text-align: center;
    }
  }
}
