// Body
$bg-light: #fff;
$bg-beige: #ececec;
$bg-dark: #253241;
$bg-blue: #cce5ff;
$bg-green: #d5eee9;
$bg-orange: #e0ac3b; 
$back-purple: #9485c9;
$bg-pink: #db7bb6;
$bg-footer: #202733;
$bg-footer-bottom: #181d27;

// Colors
$pink: #FE4365;
$blue: #3286d4;
$light-blue: #67adee;
$green: #358d5d;
$yellow: #e9e77c;
$orange: #f1a261;
$red: #fe4343;
$purple: #8647aa;
$grey: #8b959b;

$button: #358d5d;
$button-hover: #47c47f;

// Typography
$font-logo: 'Gugi', cursive;
$font-title: 'Rajdhani', sans-serif;
$font-text: 'Cairo', sans-serif;
$font-heading: 'Crimson Text', serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;



