// Body
$bg-light: #fff;
$bg-dark: #253241;
$bg-blue: #cce5ff;
$bg-green: #97e2a3;
$bg-orange: #e0ac3b; 
$back-purple: #9485c9;
$bg-pink: #db7bb6;
$bg-footer: #202733;

// Colors
$pink: #FE4365;
$blue: #3286d4;
$green: #47c47f;
$yellow: #e9e77c;
$orange: #f1a261;
$red: #fe4343;
$purple: #8647aa;
$grey: #8b959b;

$button: #47c47f;
$button-hover: #358d5d;

// Typography
$font-logo: 'Gugi', cursive;
$font-title: 'Rajdhani', sans-serif;
$font-text: 'Cairo', sans-serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;



