// Body
$bg-dark: #343a40;
$bg-footer: #24282c;
$bg-grey: #f3eff0;
$bg-grey-matte: #dbd1d1;
$bg-light: #fff;

// Colors
$strong-pink: #FE4365;
$light-pink: #f1e5e7;
$very-light-pink: #f3eff0;
$button: #fc5c79;
$grey: #bec9d4;
$sidebar: rgba(248, 249, 250, 0.9);

// Typography
$font-logo: 'Gugi', cursive;
$font-title: 'Rajdhani', sans-serif;
$font-text: 'Cairo', sans-serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;



